body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    background-color: rgb(59, 16, 16);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.block {
    width: 70vh;
    height: 90vh;
    background-color: #bcbcbc;
    border: 5px solid #c00000; 
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1.5rem;
}

.filters {
    margin-bottom: 1.5rem;
}

.filtergroup {
    margin-bottom: 1rem;
}
.transaction {
    margin-bottom: 1rem;
    justify-items: center;
}

.totaal {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}